@font-face {
    font-family: 'Inter';
    src: url("src/assets/Fonts/Inter_24pt-Regular.ttf");
}

@import "tailwindcss";

@theme{
    --font-Inter: Inter, "sans-serif";
}

/* Hide scrollbar for all elements using 'no-scrollbar' */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
